#footer {
    position: fixed;
    bottom: 0;
    left: 0; /* 왼쪽 여백 제거 */
    right: 0; /* 오른쪽 여백 제거 */
    width: 100%;
    background-color: cadetblue;
    padding: 10px 0;
    text-align: center;
    color: #333;
}

